.commentSection {
    width: 80%;
    display: flex;
    flex-direction: column; /* Stack user and date vertically, comment text on next line */
    margin-bottom: 20px; /* Add spacing between comments */
  }
  